venv/
myenv/

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

*.sqlite3

local_settings.py

*.pyc
*.pyo
*/migrations/*__pycache__/
*/migrations/*.py[cod]

staticfiles/
static/
media/

.ipynb_checkpoints

.env
.venv
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.iml
.idea/
.idea/*
.idea/*.iml
.idea/workspace.xml

.vscode/

.DS_Store

*.log

pyvenv.cfg
