.containerlogin {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: center;
    height: 500px;
    width: 700px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10%;
    
    
}
.signup-link {
    margin-top: 10px;
}

.shift {
  margin-top: 120px;
}

.container-title {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text */
    width: 30%;
    height: 50%;
    margin: 0 auto; /*Center container horizontally */
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}


h1 {
    color: #363636;
    font-size: 40 px;
    font-family: 'Roboto';
}
.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    text-align: center;
    display: none; /* Hide the alert initially */
    z-index: 1000; /* Ensure the alert is on top */
}

h2{
    color: #535353;
    font-size: 40 px;
    font-family: 'Roboto';
}

.primary-button {
  background-color: #318DC1; /* Blue background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Semi-bold font */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50px; /* Rounded corners */
  font-family: 'Roboto', sans-serif; /* Use Google Font */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover State */
.primary-button:hover {
  background-color: #61C2F8; /* Lighter blue on hover */
  border-color: none; /* Darker border color on hover */
  opacity: 0.8; /* Slightly transparent */
}

.secondary-button {
  background-color: white; /* White background */
  border: 3px solid #318DC1; /* 3px border */
  color: #318DC1; /* Blue text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Semi-bold font */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50px; /* Rounded corners */
  font-family: 'Roboto', sans-serif; /* Use Google Font */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover State */
.secondary-button:hover {
  background-color: #cae5f4; /* Lighter blue on hover */
  border-color: none; /* Darker border color on hover */
  opacity: 0.8; /* Slightly transparent */
}

.styled-input {
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 3px solid #D9D9D9;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Use Google Font */
  transition: border-color 0.3s ease;
}

.styled-input:focus {
  outline: 3px;
  border-color: #318DC1; /* Change border color on focus */
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../../Inter-4.0.3/InterVariable.ttf')
}




p.welcome {
    color:#585858; 
    font-size: 36px;
    font-family: 'Roboto';
}
p.bold {
    color:#585858;
    font-weight:bold;
    font-size: 36px;
    font-family: 'inter';
}

p.body {
    color: #585858;
    font-size: 30px;
    font-family: 'Roboto';
}

p.small {
    color: #585858;
    font-size: 16px;
    font-family: 'Roboto';
}
p.links {
    color:#318DC1;
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }

.nav-bar {
    color: #585858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.1em;
    border-bottom: 2px solid #ECECEC;
  }
  
  .nav-bar .logo {
    font-size: 1.5rem;
  }
  
  .nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-bar ul li {
    margin-right: 20px;
  }
  
  .nav-bar ul li a {
    color: #585858;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-bar ul li a:hover {
    color: #318DC1;
  }
  
  .nav-bar .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  .nav-bar ul li a.active {
    color: #318DC1;
    font-weight: bold;
}

  
  @media (max-width: 768px) {
    .nav-bar .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    .nav-bar ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: green;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    .nav-bar ul li {
      margin: 20px 0;
    }
  
    .nav-bar ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ .nav-bar ul {
      right: 0;
    }
  }
  
