.container {
    text-align: center;
    margin-top: 50px;
}
.signup-link {
    margin-top: 10px;
}
 
h1 {
    color: #318DC1;
    font-size: 40 px;
    font-family: 'inter';
}
.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    text-align: center;
    display: none; /* Hide the alert initially */
    z-index: 1000; /* Ensure the alert is on top */
}

h2{
    color: #318DC1;
    font-size: 40 px;
}

@font-face {
    font-family: 'inter';
    src: url('../../../../Inter-4.0.3/InterVariable.ttf')
}



p.welcome {
    color:#585858; 
    font-size: 36px;
    font-family: 'inter';
}
p.bold {
    color:#585858;
    font-weight:bold;
    font-size: 36px;
    font-family: 'inter';
}

p.body {
    color: black;
    font-size: 30px;
    font-family: 'inter';
}

p.small {
    color: #585858;
    font-size: 16px;
    font-family: 'inter';
}
p.links {
    color:#318DC1;
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'inter';
  }

.nav-bar {
    color: #585858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.1em;
    border-bottom: 2px solid #ECECEC;
  }
  
  .nav-bar .logo {
    font-size: 1.5rem;
  }
  
  .nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-bar ul li {
    margin-right: 20px;
  }
  
  .nav-bar ul li a {
    color: #585858;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-bar ul li a:hover {
    color: #318DC1;
  }
  
  .nav-bar .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  .nav-bar ul li a.active {
    color: #318DC1;
    font-weight: bold;
}

  
  @media (max-width: 768px) {
    .nav-bar .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    .nav-bar ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: green;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    .nav-bar ul li {
      margin: 20px 0;
    }
  
    .nav-bar ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ .nav-bar ul {
      right: 0;
    }
  }
  
