<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="nav-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">GFG</label>
        <ul>
            {% if user.is_authenticated %}
                <li><a class="{% if request.path == '/home/' %}active{% endif %}" href="/home">Home</a></li>
            {% else %}
                <li><a class="{% if request.path == '/' %}active{% endif %}" href="/">Home</a></li>
            {% endif %}
            <li><a class="{% if request.path == '/about/' %}active{% endif %}" href="/about">About</a></li>
            {% if user.is_authenticated %}
                <li><a class="{% if request.path == '/account/' %}active{% endif %}" href="/account">Account</a></li>
                <li><a class="{% if request.path == '/logout/' %}active{% endif %}" href="/logout">Logout</a></li>
            {% else %}
                <li><a class="{% if request.path == '/login/' %}active{% endif %}" href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block messages %}
      {% if messages %}
        <script>
          // JavaScript to show alert box with messages
          window.onload = function() {
            alert("{% for message in messages %}{{ message }}\n{% endfor %}");
          };
        </script>
      {% endif %}
    {% endblock %}
</body>
</html>
