<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</body>
</html>

{% block messages %}
  {% if messages %}
    <script>
      // JavaScript to show alert box with messages
      window.onload = function() {
        alert("{% for message in messages %}{{ message }}\n{% endfor %}");
      };
    </script>
  {% endif %}
{% endblock %}