{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to the Home Page</h1>
    <p>Hello {{ request.user.username }}!</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
    </form>
    <h2>Return to work</h2>
    <body>We hope you had a relaxing leave and had time to bond with your baby! Let’s help you start easing back in to the working life
            <form>
                <input type="checkbox" id="Compliance Courses" name="Compliance Courses" value="Compliance Courses">
                <label for="Compliance Courses">Compliance Courses</label><br>
                <input type="checkbox" id="Update your Heath Benefits" name="Update your Heath Benefits" value="Update your Heath Benefits">
                <label for="Update your Heath Benefits">Update your Heath Benefits</label><br>
                <input type="checkbox" id="Check in with your manager" name="Check in with your manager" value="Check in with your manager">
                <label for="Check in with your manager">Check in with your manager</label><br>
                <input type="checkbox" id="Catch up on emails" name="Catch up on emails" value="Catch up on emails">
                <label for="Catch up on emails">Catch up on emails</label><br>
                <input type="checkbox" id="Check team updates" name="Check team updates" value="Check team updates">
                <label for="Check team updates">Check team updates</label><br>
            </form>

    </body>

    <h2>Quick Links</h2>
    <body>
        <ul>
            <li>Parental Leave Policy</li>
            <li>How to organize email inbox</li>
            <li>HOPE Viva Engage</li>
            <li>Mental Health Support</li>
          </ul>
          
    </body>
    <h2>Upcoming Events</h2>
    <ul>
        <li>Communicating with Someone with Alzheimer’s, Dementia, or Other Memory Issues • RSVP</li>
        <li>Kickin’ it with your ERG Area Leads • RSVP</li>
      </ul>

    <h2>Message Board</h2> <h2>Unread • RSVP</h2>


{% endblock %}
