<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="signup-link">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
        </div>
    </div>
</body>
</html>

{% block messages %}
  {% if messages %}
    <script>
      // JavaScript to show alert box with messages
      window.onload = function() {
        alert("{% for message in messages %}{{ message }}\n{% endfor %}");
      };
    </script>
  {% endif %}
{% endblock %}