{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<a href="home.html"><button>Return</button></a> 
<form>
        <input type="checkbox" id="Compliance Courses" name="Compliance Courses" value="Compliance Courses">
        <label for="Compliance Courses">Compliance Courses</label> • <a href="https://www.statefarm.com/">View</a><br>
        <input type="checkbox" id="Update your Heath Benefits" name="Update your Heath Benefits" value="Update your Heath Benefits">
        <label for="Update your Heath Benefits">Update your Heath Benefits</label> • <a href="https://www.statefarm.com/">Contact</a>• <a href="https://www.statefarm.com/">View Site</a><br>
        <input type="checkbox" id="Check in with your manager" name="Check in with your manager" value="Check in with your manager">
        <label for="Check in with your manager">Check in with your manager</label> • <a href="https://www.statefarm.com/">Contact</a><br>
        <input type="checkbox" id="Catch up on emails" name="Catch up on emails" value="Catch up on emails">
        <label for="Catch up on emails">Catch up on emails</label> • <a href="https://www.statefarm.com/">Tutorial</a><br>
        <input type="checkbox" id="Check team updates" name="Check team updates" value="Check team updates">
        <label for="Check team updates">Check team updates</label> • <a href="message.html">Messsge Board</a><br>
    </form>

{% endblock %}
